* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background: linear-gradient(to right, rgb(71, 186, 240), rgb(219, 131, 235));
  padding: 0 !important;
}

.navbar-brand img {
  height: 40px;
  padding-left: 20px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #fff !important;
  font-weight: 600;
  float: right;
  text-align: left;
}

.fa-bars {
  color: #fff;
  font-size: 30px !important;
}

.navbar-toggler {
  outline: none !important;
}

#home {
  background: linear-gradient(to right, rgb(71, 186, 240), rgb(219, 131, 235));
  padding: 0 !important;
}

.home-title {
  font-size: 50px;
  font-weight: 600;
  margin-top: 100px;
  font-style: normal;
  font-family: "Gloria Hallelujah", cursive;
}

.home-para {
  font-size: 20px;
  font-weight: 100;
  color: #160335;
  font-style: italic;
  font-family: "Gloria Hallelujah", cursive;
}

.btnplay {
  width: 45px;
  margin: 20px;
}

#home a {
  color: #fff;
  text-decoration: none;
}

.img-fluid {
  border-radius: 120px 20px 120px 20px;
}

.banner-bottom {
  width: 100%;
}

#project {
  padding: 80px 0;
}

.container-img {
  width: 250px;
  height: 110px;
  margin-top: 20px;
}

.container-img1 {
  width: 250px;
  margin-top: 20px;
}

.container-img2 {
  width: 170px;
  margin-top: 0px;
}

.assignment {
  padding: 20px;
}

.para-prj {
  text-align: justify;
  font-weight: 600;
  font-style: normal;
  color: rgb(184, 80, 11);
}
.assignment h4 {
  padding: 5px;
  margin-top: 20px;
  text-transform: uppercase;
}

.title::before {
  content: "";
  background: #192b7b;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}

.title::after {
  content: "";
  background: #192b7b;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}

#aboutme {
  background: #f8f9fa;
  padding-bottom: 50px;
  padding-top: 50px;
}

.h-aboutme {
  font-family: "Gloria Hallelujah", cursive;
  font-style: italic;
  letter-spacing: -0.02em;
  line-height: 1.6;
  text-align: center;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  margin-top: 0rem !important;
  font-size: 30px;
}

.aboutme-title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
  text-align: justify;
}

#aboutme ol li {
  margin: 5px 0;
  font-weight: 450;
  font-size: 20px;
  border: 0;
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
  text-align: justify;
}

#aboutme ol {
  margin-left: 20px;
}

.img-fluid1 {
  width: 200px;
  height: 200px;
  border-radius: 120px 20px 120px 20px;
}

.social-icon img {
  width: 30px;
  transition: 0.5s;
}

.social-icon a:hover img {
  transform: translateY(-10px);
}

.footer-box {
  padding-bottom: 20px;
}

.footer-title {
  font-weight: bold;
}

.footer-box .fa {
  margin-right: 2px;
  font-size: 25px;
  height: 20px;
  width: 40px;
  text-align: center;
  padding-top: 1px;
  border-radius: 1px;
}

.h-footer {
  font-family: "Gloria Hallelujah", cursive;
  font-style: italic;
  letter-spacing: -0.02em;
  line-height: 1.6;
  text-align: center;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  margin-top: 0rem !important;
  font-size: 20px;
  border-bottom: 3px solid rgb(2, 69, 131);
}

.btn {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  overflow: visible;
  text-transform: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #1f11bb;
  background: linear-gradient(to right, rgb(71, 186, 240), rgb(219, 131, 235));
  border-color: linear-gradient(
    to right,
    rgb(71, 186, 240),
    rgb(219, 131, 235)
  );
  align-items: center;
  text-align: center;
  -webkit-appearance: button;
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.2rem
    linear-gradient(to right, rgb(71, 186, 240), rgb(219, 131, 235));
  cursor: pointer;
}
